<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem name="Trà Sữa 2Tea" id="menu_root" sequence="1" web_icon="2_tea,static/description/icon.png"/>
	<menuitem id="menu_reception" name="Tiếp Tân" parent="menu_root" sequence="1" action="action_tea_ban"/>
	<menuitem id="menu_phache" name="Pha Chế" parent="menu_root" sequence="2" action="action_tea_order_mon"/>
	<menuitem id="menu_food" name="Thực Đơn" parent="menu_root" sequence="3" action="action_tea_food"/>
	<menuitem id="menu_report" name="Lịch sử giao dịch" parent="menu_root" sequence="4" groups="base.group_configuration" />
	<menuitem id="menu_km" name="Khuyến Mãi" parent="menu_root" sequence="5" action="action_tea_km" groups="base.group_configuration" />
	<menuitem id="menu_report_1" name="Doanh Thu" parent="menu_report" sequence="1" action="action_tea_order"/>
	<menuitem id="menu_report_2" name="Món ăn" parent="menu_report" sequence="2" action="action_tea_order_mon_report"/>
</odoo>
